.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 100px 1fr 50px;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  height: 100vh;
}
