body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

p {
  font-size: 20px;
  margin-bottom: 0px;
  line-height: 1.4;
  color: #636d72;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  color: #2e3c42;
  line-height: 1;
  padding: 0px 20px 0px 0px;
}

a.anchor {
  border: 0;
  color: #009387;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
}

ol.ol-list li {
  line-height: 2;
}
