.header {
  /* display: flex;
  align-items: center;
  justify-content: flex-start; */
  grid-area: header;
  background-color: #f7fbfb;
  font-weight: 600;
  font-size: 24px;
  padding: 20px;
  color: #2e3c42;
  line-height: 1;
  margin: 0px;
}
